<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LCP account password reset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div id="email" style="width:600px;margin: auto;background:white;border: 1px solid #eee;">

    <!-- Header -->
    <table role="presentation" border="0" width="100%" cellspacing="0">
        <tr>
            <td bgcolor="#F5F5F5" align="center" style="padding: 10px;color: #444;">
                <img alt="Flower"
                    src="https://web.LCP.com/assets/LCP_logo_with_trademark.png"
                    width="300px;margin: 10px auto;margin-bottom:0">
        </tr>
        </td>
    </table>

    <!-- Body 1 -->
    <table role="presentation" border="0" width="100%" cellspacing="0">
        <tr>
            <td style="padding: 30px 30px 30px 60px;font-family: 'Montserrat', sans-serif;color: #444;">
                <h2 style="font-size: 28px; margin:0 0 20px 0;"> Reset your password!</h2>
                <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;">Dear {{ first_name }}!</p>
                <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;">You're receiving this e-mail because you requested a password reset for your LCP account.</p>
                <a style="margin: 10px auto;
                        background-color: #0096AA;
                        border: 1px solid #0096AA;
                        padding: 5px 10px;
                        color: #fff;
                        border-radius: 4px;
                        font-size: 16px;
                        font-weight: 600;
                        text-decoration: none;"
                        href="{{activation_url}}"
                >
                    Reset Password
                </a>
            </td>
        </tr>
    </table>


    <!-- Body 3 -->
    <table role="presentation" border="0" width="100%">
                <tr>
            <td bgcolor="#f5f5f5" align="center" style="padding: 30px 30px;font-family: 'Montserrat', sans-serif">
                <h2 style="font-size: 28px; margin:0 0 20px 0;"> LCP </h2>
                <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;"> The DataPrepOps Company </p>
                <a href="#" style="text-decoration: underline; font-weight: bold; color: #253342;  font-family:Avenir;">
                    Ask us a question
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>